{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'visits/css/bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body style="background-color: ">
<div class="container">
    <div class="row">
        <div class="col-md-5" style="margin: 0 auto; float: none; margin-top: 200px;">
            <form class="form-horizontal" action="/visits/auth" method="POST">
            {% csrf_token %}
                <fieldset>
                    <legend>Страница входа</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Логин:</label>
                        <div class="col-lg-10">
                            <input type="text" name="login" class="form-control" id="inputEmail" placeholder="Логин">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Пароль:</label>
                        <div class="col-lg-10">
                            <input type="password" name="pass" class="form-control" id="inputPassword" placeholder="Пароль">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Войти</button>
{% if auth == 'err' %}
    '<label class="col-lg-12 control-label" style="color: red;">Неверный логин или пароль!</label>'
{% endif %}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-12 control-label" style="text-align: center;">Шагихамитов Данис 3 курс, группа: 09-411 <a href="https://bitbucket.org/thelostroot/st2/src">Исходный код</a><br>Пользователь: test:1234</label>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>



</body>
</html>